<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-md-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
            <!--<script src="https://snapwidget.com/js/snapwidget.js"></script>-->
            <script src="https://raw.githubusercontent.com/stevenschobert/instafeed.js/master/instafeed.min.js"></script>
            <iframe src="https://instagram.com/embed/{{ site.instagram }}" class="instagram-widget" allowTransparency="true"
                    frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
        </div>
    </div>
</section>